.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

.modal-content img {
  max-width: 100%;
  max-height: 80vh;
}

.modal-content .close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: rgb(255, 60, 0);
  border: none;
  cursor: pointer;
  font-size: 2.5rem;
  transition: all 0.3s ease;
}

.close-button:hover {
  transform: rotate(180deg);
  font-weight: bold;
  font-size: 3rem;
  color: rgb(255, 0, 0);
}
